:root {
  --primary-color: #1d1616;
  --secondary-color: #1F3A5F;
  --third-color: #2E86C1;
  --forth-color: #eeeeee;
  --white: #fff;
  --font-weight-medium: 700;
  --font-weight-semibold: 800;
  --font-weight-bold: 900;
}

html {
  scroll-behavior: smooth;
}

/* General Styles */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.48px;
  line-height: 1.6;
  color: var(--primary-color);
  box-sizing: border-box;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mb-8 {
  margin-bottom: 8px;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url("assets/images/trading-hero.jpeg") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 160px 16px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 32px;
}

.hero-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.btn {
  padding: 12px 32px;
  background: var(--third-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--secondary-color);
}

/* Services Section */
.services {
  text-align: center;
}

.services h2 {
  font-size: 40px;
  margin-bottom: 32px;
}

.service-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 100%;
  padding: 24px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-icon {
  width: 40px;
  margin-bottom: 8px;
}

.contact-icon {
  width: 16px;
  filter: invert();
  margin-right: 8px;
}

.contact {
  background: var(--primary-color);
  color: var(--white);
}

/* About Section */
.about {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
}

.about h2,
.contact h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.about p {
  font-size: 19.2px;
  max-width: 800px;
  margin: 0 auto;
}

/* Footer */
footer {
  padding: 16px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 20px;
}

.block-1 {
  text-align: left;
  margin-bottom: 16px;
}

.block-1 h2 {
  font-size: 40px;
}

.block-2 {
  text-align: left;
  justify-content: flex-end;
  flex-direction: column;
}

.block-2 p {
  margin: 0;
}

.footer-block {
  flex-direction: column;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.container {
  padding: 16px;
}

/* Base styles (applied to all screen sizes) */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 0 16px;
}

.logo {
  width: 40px;
}

.menu-items {
  order: 2;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  order: 1;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-items li {
  list-style: none;
  margin-left: 24px;
  font-size: 20.8px;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  text-shadow:
    0 0 10px var(--third-color),
    0 0 20px var(--third-color),
    0 0 30px var(--third-color);
}

.navbar a:hover {
  color: #117964;
}

/* Mobile styles (default) */
.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container {
  display: block;
  position: relative;
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  height: 32px;
  width: 30px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.navbar-container .hamburger-lines {
  height: 28px;
  width: 35px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #333;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  background: #fff;
  height: 100vh;
  max-width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 40px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 0px 10px 0px #aaa;
  overflow: scroll;
}

.navbar .menu-items li {
  margin-bottom: 28.8px;
  font-size: 17.6px;
  font-weight: 500;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.navbar-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

/* Form */
.form {
  justify-content: space-between;
  flex-direction: column;
}

.form section {
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

.form .send-container {
  width: 100%;
  text-align: center;
  margin-right: 0;
  margin-top: 16px;
}

.form .send-container input {
  width: fit-content;
  border-radius: 32px;
  display: flex;
  margin: 0 auto;
  background: var(--third-color);
  border: none;
  color: var(--white) !important;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: background 0.3s ease;
}

.form .send-container input:hover {
  background: var(--secondary-color);
}

.form section .input-container {
  padding: 10px;
  box-sizing: border-box;
}

.form section .input-container label {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
}

.form section .input-container input,
.form section .input-container textarea {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: var(--primary-color);
  box-sizing: border-box;
}

.form section .input-container input:focus,
.form section .input-container textarea:focus {
  outline: none;
  background: var(--white);
}

.form section .input-container textarea {
  height: 122px;
  padding: 15px 10px;
  resize: none;
}

.copyright-text {
  font-size: 14px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  color: var(--primary-color);
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
}

.form .btn {
  width: 100%;
}

.founder-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 16px auto 0;
}

/* Desktop styles (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: none;
  }

  .navbar-container {
    display: flex;
    padding: 0 80px;
  }

  .navbar .menu-items {
    padding-top: 0;
    background: transparent;
    height: auto;
    max-width: none;
    transform: translateX(0);
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    box-shadow: none;
    overflow: visible;
  }

  .navbar .menu-items li {
    margin-bottom: 0;
  }

  .logo {
    position: static;
    font-size: 40px;
  }

  .hero-btns {
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 25%;
  }

  .form {
    flex-direction: row;
  }

  .form section {
    width: calc(50% - 40px);
    margin: 20px 0;
  }

  .form .send-container input {
    width: auto;
    display: unset;
    margin: unset;
  }

  .block-1 {
    margin-bottom: 0;
  }

  .block-2 {
    text-align: right;
  }

  footer {
    padding: 40px 80px;
  }
}

@media (min-width: 991px) {
  .container {
    padding: 80px;
  }

  .hero {
   padding: unset;
  }

  .hero h1 {
    font-size: 64px;
    width: 768px;
    margin: 0 auto;
  }

  .about h2,
  .contact h2 {
    font-size: 40px;
  }
}
